header {
    background-color: #bebebe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: #eeeeee;
    padding: 10px;
    flex: 1;
}

footer {
    background-color: #bebebe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-div {
    display: flex;
}

nav {
    width: 200px;
    background-color: #dedede;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007BFF;
}

.main-title {
    color: #333;
    display: flex;
    justify-content: center;
}

.title {
    color: #555
}

.image {
    display: flex;
    margin: 50px auto;
    height: 500px;
    width: 500px;
}

.example-div {
    background-color: black;
    color: white;
    padding: 30px;
}