* {
    box-sizing: border-box;
}

header {
    background-color: #bebebe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: #eeeeee;
    padding: 10px;
    flex: 1;
}

footer {
    background-color: #bebebe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-div {
    display: flex;
}

nav {
    width: 200px;
    background-color: #dedede;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007BFF;
}

aside {
    height: 100%;
    background-color: #dedede;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 10px double white;
}

.aside-example {
    width: 1000px;
}

.aside-form {
    width: 50%;
}

summary {
    cursor: pointer;
}

label {
    color: #555;
    font-weight: bold;
}

.main-title {
    color: #333;
    display: flex;
    justify-content: center;
}

.title {
    color: #555
}

.image {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    height: 500px;
    width: 500px;
}

.example-div {
    background-color: black;
    color: white;
    padding: 30px;
}

.example-article {
    background-color: #bebebe;
    border: 10px double black;
    padding: 20px;
    margin-top: 20px;
}

.example-span {
    background-color: black;
    color: white
}